@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');



.carousel-custom-style::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0.7;
}
.carousel-custom-style img{
    height: calc(100vh - 65px);
}

.btn-custom-style{
    background-color: #4169e1;
    color: white;
    font-weight: bold;
    padding: 5px 25px;
}

.highlited-card{
    height: 430px;
    background-color: #4169e1;
    border-radius: 20px;
    color: white;
    box-shadow: 0px 10px 20px #4169e1;
    position: relative;

}

.hot-badge{
    position: absolute;
    background-color: orangered;
    font-weight: bold;
    padding: 3px 10px;
    border-radius: 20px;
    top: -10px;
    right: 20px;

}

.card-custom-style{
    background-color:#e7f1ff;
    border-radius: 10px;
}
.card-btn{
    background-color: #fef5fa;
    color: #4169e1;
    font-weight: bold;
    padding: 5px 25px;
    border-radius: 20px;
}

.map-area{
    background-color: #4169e1;
    color: white;
    padding: 15px 10px;
    border-radius: 5px;
    
}


.map-area h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3.5rem;
    
}

.package{
    position: relative;
}
.toast-custom-style{
    position: absolute;
    top: 100px;
}
.footer-custom-style{

    height: 300px;
}
